@import url(styles.css);
body {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #0B0A07;
}
fieldset {
    margin: auto;
    width: 30%;
    border: 3px solid #4C2C72;
    padding: 20px;
}

.name-info{
    width: 300px;
}
.contact-info {
    width: 300px;
}

iframe#cgi-results {
    width: 35%;
    height: 200px;
    border: 3px solid #4C2C72;
}

