@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

@font-face {
    font-family: Yellowtail;
    src: url(../fonts/Yellowtail-Regular.ttf);
}

@font-face {
    font-family: Open-Sans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, main, img, li, 
nav, section, ul, span, ol, p {
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    height: 100%;
    background-color: #84C662;
    background-image: url(../images/background.jpg);
}

body {
    line-height: 1.5;
    width: 95%;
    min-width: 640px;
    max-width: 940px;
    max-height: 200%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    color: #0B0A07;
    font-family: Open-Sans;
    font-size: 20px;
}

img:not(.header-img) {
    transition: transform .2s;
}


img:hover:not(.header-img) {
    transform: scale(1.5); 
}

.mobile-container {
    visibility: collapse;
}
.topnav {
    visibility: collapse;
}
.topnav#myLinks {
    visibility: collapse;
}
.topnav a {
    visibility: collapse;
}
.topnav a.icon {
    visibility: collapse;
}
.active {
    visibility: collapse;
}

h1.header-title {
    text-align: center;
    font-family: Yellowtail; 
    font-size: 75px;
}
nav ul {
    list-style: none;

}

nav a {
    text-decoration: none;
}

nav.upper-menu {
    overflow: hidden;
    background-color: #4B296B;
    text-align: center;
}

nav.upper-menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav.upper-menu a:hover {
    background-color: #ddd;
    color: #4B296B;
  }

blockquote a {
    text-decoration: none;
}


body > header > img {
    display: block;
    width: 100%;
}

body > header {
    height: 5%; 
}

h1 {
    font-size: 1.4em;
    line-height: 2em;
}

body > header > nav li {
    background-color: #4B296B;
    text-align: center;
}

nav.upper-menu {
    width: 100%;
}

nav.upper-menu li {
    display: block;
    float: left;
}

body > main {
    display: block;
    clear: left;
    margin-top: 25px;
}

main > nav.lower-menu {
    display: block;
    float: left;
    width: 20%;
    margin-right: 25px;
    margin-top: 10px; 
}

main > nav h2 {
    padding-top: 20px;
    padding-bottom: 5px;
}

main > nav.lower-menu li {
    padding-top: 10px;
}

main > nav.lower-menu li a{
    color: #0B0A07;
}

main > article {
    display: block;
    float: left;
    width: 50%;
    margin-right: 25px;
}

body article img {
    float: right;
    width: 40%;
    margin: 0px 0 10px 10px;
}   

p {
    display: block;
}

main > aside {
    display: block;
    float: left;
    width: 20%;    
}

aside a h4 {
    padding-top: 10px;
    padding-bottom: 5px;
    color: #0B0A07;
}

.hippo {
    width: 100%;
    height: 100%;
}

a:link {
    color: white;
}

a:visited {
    color: cyan;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4B296B;
    color: white;
    text-align: center;
}

.center-image {
    width: 47%;
    height: 50%;
}

.gallery-column {
    height: 50%;
    float: right;
    width: 48%;
    padding: 5px;
}

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.gallery-row::after {
    content: "";
    clear: both;
    display: table;
}

iframe {
    aspect-ratio: 16 / 9;
    height: auto;
    width: 100%;
}

table {
    border-collapse: collapse;
    border: 20px groove #4B296B;
    width: 100%;
 }
 
 th, td {
    border: 1px solid #4B296B;
    padding: 5px;
    text-align: center;
    vertical-align: top;
    background-color: inherit;
 }

@media screen and (max-device-width: 700px) {
    body {
        max-width:fit-content;
    }
  nav.upper-menu a {
    display: block; 
    padding: 12px; 
    text-decoration: none;
  }
  body {
    font-size: 17px;
  }
  main >img.big-dawg {
    display: flex;
        width: 107%;
        height: 50%;
        align-items: left;
    scale: 0.5;
  }
    main > div.responsive > img.rhea-bite {
        width: 100%;
        height: 50%;
    }
    .mobile-container {
        visibility: collapse;
    }
    .topnav {
        visibility: collapse;
    }
    .topnav#myLinks {
        visibility: collapse;
    }
    .topnav a {
        visibility: collapse;
    }
    .topnav a.icon {
        visibility: collapse;
    }
    .active {
        visibility: collapse;
    }
}


@media screen and (max-device-width:500px) {
    body {
        max-width:fit-content;
    }
    header {
        display: none;
    }
    main > article {
        width: 100%;
    }
    nav.upper-menu {
        display: none;
    }
    .mobile-container {
        visibility: visible;
        max-width: 480px;
        margin: auto;
        background-color: #555;
        height: 500px;
        color: white;
        border-radius: 10px;
      }
      
      .topnav {
        visibility: visible;
        overflow: hidden;
        background-color: #333;
        position: relative;
      }
      
      .topnav #myLinks {
        visibility: visible;
        display: none;
      }
      
      .topnav a {
        visibility: visible;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        visibility: visible;
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        visibility: visible;
        background-color: #ddd;
        color: black;
      }
      
      .active {
        font-family: Yellowtail;
        visibility: visible;
        background-color: #4B296B;
        color: white;

      }

    main {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    main > nav.lower-menu{
        width: 100%;
    }

    main > aside {
        width: 100%;
    }
    main >img.big-dawg {
        width: 107%;
        height: 50%;
    }
    main > div.responsive > img.rhea-bite {
        width: 100%;
        height: 50%;
    }
    iframe {
        display: block;
        margin: 0 auto;
     }
}

@media print {
    body {
        background-color: white;
        color: black;
    }
    
    nav {
        display: none;
    }
}